<div class="card mt-4">
    <h3 class="card-header">You're logged in with Angular 8 & JWT!!</h3>
    <div class="card-body">
        <h4>Users from secure api end point</h4>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <p><span>Login: </span><span>{{userDetails.login}}</span></p>
        <p><span>Email: </span><span>{{userDetails.email}}</span></p>
        <p><span>Active: </span><span>{{userDetails.active}}</span></p>
        <p><span>Email confirmed: </span><span>{{userDetails.emailConfirmed}}</span></p>
    </div>
</div>