/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Numans');


html, body { height: 100%; }
body { margin: 0; }

html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
    }

.info-text{
    color: red;
    margin-bottom: 7px; 
    margin-top: -10px;
    display: block;
    width: 100%;
}
